{% extends 'base.html.twig' %}


{% block body %}


    <h1>Ajouter un Wish</h1>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {{form_start(wishForm)}}

    {{form_widget(wishForm)}}
<button type="submit" class="btn btn-primary">Editer</button>
{{form_end(wishForm)}}
<br> <br><br><br>
    <form  action="{{ path("app_main") }}">
        <input class="btn btn-info"type="submit" value="retour" />
    </form>
{% endblock %}